body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  flex: 1;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .start {
    font-size: 2rem;
  }
}

#home{
  .control{
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .button.button-light{
      background-color:rgba(255,255,255,0.3);
    }
  }
}
